{% extends "home.html" %}
{% block content %}
	<div class="page-header">
	  <h1>Personal cabinet <small>where you can see your info</small></h1>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Account data</div>
	  <div class="panel-body">
		<table class="table">
			{% for obj in data %}
				<tr><td>{{obj.1}}</td><td>{{obj.2}}</td></tr>
			{% endfor %}
		</table>
	  </div>
	</div>
	{% if premium_data.0 == True %}
	<div class="alert alert-info" role="alert">
		<p>Your premium status expires at {{premium_data.1}}</p>
	</div>
        {% if nationality == '' %}
            <div class="panel panel-default">
              <div class="panel-body">
                <form class="form-inline" method="post" action="/cabinet/">
                    {% csrf_token %}
                    <div class="form-group">
                    <label class="sr-only">Nationality</label>
                    <p class="form-control-static">Please enter your nationality!</p>
                    </div>
                    <div class="form-group">
                        <label for="inputNat" class="sr-only">Nationality</label>
                        <input type="text" class="form-control" id="inputNat" name="nationality" placeholder="Nationality">
                    </div>
                    <button type="submit" class="btn btn-default">Add!</button>
                </form>
              </div>
            </div>
        {% endif %}
	<div class="panel panel-default">
		<div class="panel-heading">Your past searches</div>
		<div class="panel-body">
			<table class="table">
				{% for obj in searches %}
					<tr><td>{{obj.0}}</td><td><a href="/view/{{obj.1}}">Go to view</a></td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-danger" role="alert">You don't pay for your account,so some features are restricted!<a href="/pay" class="alert-link">Make it as faster,as you can!</a></div>
	{% endif %}
{% endblock %}