{% extends "home.html" %}
{% block content %}
	<div class="page-header">
	  <h1>Personal cabinet <small>where you can see your info</small></h1>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Account data</div>
	  <div class="panel-body">
		<table class="table">
			{% for obj in data %}
				<tr><td>{{obj.1}}</td><td>{{obj.2}}</td></tr>
			{% endfor %}
		</table>
	  </div>
	</div>
	{% if premium_data.0 == True %}
	<div class="alert alert-info" role="alert">
		<p>Your premium status expires at {{premium_data.1}}</p>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">Your past searches</div>
		{{searches}}
		<div class="panel-body">
			<table class="table">
				{% for obj in data %}
					<tr><td>{{obj.1}}</td><td>{{obj.2}}</td></tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% else %}
		<div class="alert alert-danger" role="alert">You don't pay for your account,so some features are restricted!<a href="/pay" class="alert-link">Make it as faster,as you can!</a></div>
	{% endif %}
{% endblock %}